body {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
}

.head {
    box-sizing: border-box;
    background-color: var(--bg-color);

    /* background-color: #fff; */
    flex: 0.9;
    border-bottom: solid 1px rgba(0, 0, 0, 0.150);
    padding-top: 0.5%;

    display: flex;
    justify-content: start;
}

.hsb-1 {
    /* background-color: #fff; */
    margin-left: 2%;
}

.hsb-1 .fa-3x {
    fill: #008ad3;
    font-size: 50px;
}

.hsb-2 {
    /* background-color: #f0f2f5; */
    width: 20%;
    height: 60%;
    border-radius: 30px;
    margin-top: 0.3%;
    padding: 1%;
    margin-left: 0.5%;

    display: flex;
    align-items: center;
}



.hsb-2 .hsb2-input {
    /* background-color: #f0f2f5; */
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    color: black;
    margin-left: 2%;
}

.hsb-3 {
    width: 49%;
    margin-left: 3%;
    padding: 0.5%;
    /* background-color: #fff; */

    display: flex;
    justify-content: start;
    align-items: center;
}

.hsb-3 .hsb-3-icon {
    /* background-color: #fff; */
    margin-left: 12%;
    font-size: 22px;
    /* color: rgb(27, 27, 27); */
}

.hsb-4 {
    /* background-color: #fff; */
    width: 25%;

    display: flex;
    align-items: center;
    justify-content: center
}

.hsb-4 div {
    /* background-color: #dadde1; */
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin-left: 2.5%;


    display: flex;
    align-items: center;
    justify-content: center;
}

.hsb-4 div .icon {
    /* color: rgb(27, 27, 27); */
    /* background-color: #dadde1; */
    font-size: 22px;
    margin: 10px;

}

.dp {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.dp>img {

    flex: 7;
    border-radius: 40px;
}



.body {
    box-sizing: border-box;
    /* background-color: #f0f2f5; */
    padding-top: 20px;


    display: flex;
}