* {
    
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
}



.flex {
    display: flex;
}



.lit {
    --main-color: white;
    --color-color: black;
    background-color: rgb(240, 242, 245);
    color: rgb(102, 102, 102);
    transition: .6s ease;

}

.dark {
    --main-color: rgb(21, 32, 43);
    --color-color: white;
    transition: .6s ease;
    background-color: rgb(21, 32, 43);
    color: white;

}