.room {
    height: 100vh;
    margin: 0;
    background-color: var(--bg-color);
}

.App>.icon {
    margin-left: 95%;
}


.lit {
    background-color: white;
    color: black;
}

.dark {
    background-color: rgb(21, 32, 43);
    color: white;
}